.container {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
}

.rose {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% + var(--rose-shift-x, 0));
  top: calc(50% + var(--rose-shift-y, 0));
  transform: translate(-50%, -50%) rotate(var(--rose-rotate, 0deg));
  display: inline-block;
}

.flower {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
}

.petalBase {
  width: 50px;
  height: 50px;
  background: #fe7696;
  border-radius: 0px 50%;
  position: absolute;
  box-shadow: 0 0 10px #D1123F;
  z-index: 2;
  transform-origin: bottom right; 
  animation: ar_zhankai2 10s infinite;
  top: 0px;
  left: -20px;
}

.petalSide {
  width: 50px;
  height: 50px;
  background: #fe7696;
  border-radius: 0px 50%;
  position: absolute;
  box-shadow: 0 0 10px #D1123F;
  z-index: 2;
  transform-origin: right bottom;
  transform: rotate(90deg);
  animation: ar_zhankai1 10s infinite;
  left: -30px;
  top: 0px;
}

.petalInnerRight {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  background: #f03a64;
  border-radius: 0px 50%;
  box-shadow: 0 0 10px #D1123F;
  transform-origin: bottom right; 
  animation: ar_zhankai2 10s infinite;
  left: -10px;
  top: -20px;
}

.petalInnerTop {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  background: #f03a64;
  border-radius: 0px 50%;
  box-shadow: 0 0 10px #D1123F;
  transform: rotate(90deg);
  transform-origin: bottom right; 
  animation: ar_zhankai1 10s infinite;
  left: -20px;
  top: -20px;
}

.bud {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: -30px;
  z-index: 0;
  background: #d1123f;
}

.leaf {
  position: absolute;
  top: 120px;
  left: -135px !important;
  transform: translateX(15px) !important; /* force visible right shift */
  -webkit-transform: translateX(15px) translate3d(0, 0, 0) !important;
  /* Fix iOS Safari rendering artifacts */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.stem {
  width: 240px;
  height: 40px;
  background: transparent;
  border: 8px solid #8ac78a;
  border-color: #77a377 transparent transparent transparent;
  border-radius: 50% 50%;
  transform: rotate(100deg) translateZ(0);
  -webkit-transform: rotate(100deg) translateZ(0);
  position: relative;
  top: 0px;
  left: -4px;
  /* Fix iOS Safari rendering artifacts */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  /* Force new rendering layer to reduce artifacts */
  isolation: isolate;
  /* Remove mask since we're using overflow hidden on parent */
}

.leafs {
  width: 50px;
  height: 40px;
  border-radius: 0px 50%;
  background: #77a377;
  position: absolute;
  top: 0;
  left: 81px;
  z-index: 49;
}

.leafs:nth-child(2) {
  width: 40px;
  height: 20px;
  top: 40px;
  left: 124px;
  transform: rotate(120deg);
}

@keyframes yidon {
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}

@keyframes ar_zhankai1 {
  50% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes ar_zhankai2 {
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
